{% extends base_template %}


{% block content %}
<div class="span6" id="photo">
    <img src="static/img/e2.jpg"/>
</div>

<div class="span4" id="text">
    <p>强迫症的症状表现有哪些？北京永安中医院强迫症治疗中心专家崔海岩指出：强迫症的基本症状是强迫观念和强迫动作，患者可仅有强迫观念或强迫动作，或既有强迫观念又有强迫动作。患者能充分地认识到这种强迫观念和强迫动作是不必要的，但却不能以主观意志加以控制。由于强迫症状的出现，患者可伴有明显不安和烦恼，但有强烈的求治欲望、自知力保持完整。临床上根据其表现，大体可将强迫症划分为强迫观念及强迫行为两类。强迫症是由什么原因引起的？强迫性怀疑，患者对已完成的事情总是放心不下，要反复多次检查确实无误后才能放下心来。如怀疑是否关好门窗，准备投寄的信是否已写好地址，煤气是否已关好等等，在怀疑的同时常伴有明显的焦虑;强迫性回忆，患者对过去的经历、往事等反复回忆，虽知毫无实际意义，但总是反复回萦于脑中，无法摆脱，因而感到厌烦之极。如回忆已讲过的话用词、语气是否恰当等;强迫联想，当患者听到、见到或想到某一事物时，就不由自主地联想起一些令人不愉快或不祥的情景，如见到有人抽烟就想到火灾;强迫性穷思竭虑，患者对一些毫无现实意义的问题，总是无休止地思考下去，尽管患者的逻辑推理正常，自知力也完整，也知道没有必要深究，但无法克制。如天为什么要下雨?人为什么要吃饭?地球为什么是圆的?等等。</p>
</div>

{% endblock %}